html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}
table {
    -webkit-box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, 6px 11px 47px 8px rgba(0,0,0,0); 
box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, 6px 11px 47px 8px rgba(0,0,0,0);
border: solid 1px gray;
}
table thead th {
    background-color: black;
    color: white;
}

table tbody tr:nth-child(even) td {
    background-color: #f1f1f1;
}
table tbody tr:hover td {
    background-color: #b0aeae6d;
    cursor: pointer;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: rgb(0, 165, 165);
    padding: 10px 20px 0px;
    
}
a:hover{
    color: blue;
    transition: 1s;
}
.header {
    min-height: 150px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: rgba(99, 56, 240, 0.324);
    min-height: 150px;
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
}
ul {
    text-decoration: none;
}
li {
    text-decoration: none;
}